

	<body>
		<!-- ===== Page Header ===== -->
		<header class="page-header">
			<div class="inner">
				<div class="row">
					<!-- Logo -->
					<div class="small-12 medium-6 columns">
						<a href="/">
							<img src="/assets/unstyle/logo-smallest.png" alt="logo"/>
						</a>
					</div>
					
					<!-- Icon List -->
					<div class="small-12 medium-6 columns">
						<nav class="page-nav group">
							<ul class="icons">
								<li><a href="#" class="home"></a></li>
								<li><a rel="nofollow" href="/signout" data-method="delete" class="logout" ></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		
		
		<!-- ===== Page Content ===== -->
		<div class="page-content">
			<div class="row">
				<div class="small-12 columns">
					<div class="entry-feed">
						
						<!-- === Article === -->
						<article class="entry">
							<div class="entry-vcard">
								<div class="row">
									<div class="user-image small-12 medium-4 columns text-center">
										<img src="/assets/unstyle/user-profile.png" alt="John Doe"/>
									</div>
									<div class="small-12 medium-8 columns" >
										<h2 class="entry-title">
											<a href="#">Welcome back John Doe</a></h2>
										<div class="entry-meta">
											<span class="posted-on">1 May 2013</span></div>
										<div class="user-details">
											<ul>
												<li><h4><%= @user.firstname + " " + @user.lastname %></h4></li>
												<li class="profile"><a href="#">http://logo/johndoe</a></li>
												<li class="location">London, UK</li>
												<li class="active">Joined 1 May 2013</li>
												<li class="email"><a href="mailto:johndoe@gmail.com">johndoe@gmail.com</a></li>
											</ul>
										</div>

										<p class="mb-0 text-right">
											<%= link_to "Edit Profile", edit_user_registration_path(@user), class: "button small" %>
										</p>
									
									</div>
								</div>
							</div>
						</article>
						
						
						<% 10.times do %>
						<!-- === Article === -->
						<article class="entry">
							<!-- Entry Header -->
							<header class="entry-header">
								<h2 class="entry-title">
									<a href="#">Title of News Feed Here</a></h2>
								<div class="entry-meta">
									<span class="posted-on">1 May 2013</span></div>
							</header>
							
							<!-- Entry Body -->
							<div class="entry-body">
								<!-- Entry Content -->
								<div class="entry-content">
									<div class="author-image">
										<img src="/assets/unstyle/blogger-male.png" alt=""/>
									</div>
									<div class="author-text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in massa id enim accumsan 
											ornare. Sed rutrum diam vel hendrerit dictum. Morbi tempus porta dapibus. Integer euismod 
											metus dui, ac lacinia orci dapibus ac. Fusce vestibulum luctus odio.</p>
									</div>
								</div>
								
								<!-- Entry Rate -->
								<div class="entry-rate">
									<ul>
										<li><a href="#" class="like"></a></li>
										<li><a href="#" class="dislike"></a></li>
									</ul>
								</div>
							</div>
						</article>
						<% end %>
						
						<div class="back-to-top"><a href="#"></a></div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- ===== Page Bottom Section ===== -->
		<div class="page-bottom">
			<div class="inner"></div>
		</div>
		
		
		<!-- ===== Page Footer ===== -->
		<footer class="page-footer">
			<!-- Links -->
			<div class="row">
				<div class="small-12 medium-6 medium-offset-6 columns">
					<ul class="footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			
			<!-- Logo and Social -->
			<div class="row">
				<div class="small-10 small-offset-2 medium-6 medium-offset-6 columns">
					<a class="logo" href="index.html">
						<img src="/assets/unstyle/logo-footer.png" alt="logo"/>
					</a>
					
					<!-- 
					<ul class="social">
						<li><a href="#" class="email"></a></li>
						<li><a href="#" class="facebook"></a></li>
						<li><a href="#" class="twitter"></a></li>
						<li><a href="#" class="linkedin"></a></li>
						<li><a href="#" class="googleplus"></a></li>
					</ul>
					-->
				</div>
			</div>
		</footer>
		
		<!-- ==================== Scripts =================== -->
		<%= javascript_include_tag 'scripts' %>

		
		<script>
			$(function() {
				setUpScrollingLink();			    
			});


		</script>
	</body>
